.title{
    background-color: #160052;
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.entradas{
    display: flex;
    flex-wrap: wrap;
    background-color: #160052;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.pantalla{
    display: flex;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: right;
    width: 83%;
    height: 40px;
    align-items: center;
    justify-content: end;
}
.borrar-pantalla{
    display: flex;
    align-items: center;
    width: 10%;
    font-size: 20px;
    cursor: pointer;
    justify-content: end;
    padding-right: 10px;
}
.material-icons{
    font-size: 36px !important;
}

.numeros{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto auto;
    background-color: #160052;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 20px; 
}
.numeros button{
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

.grid-item{
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.grid-item:active{
    background-color: #ffffff;
    transition: all 0.15s
}

.grid-item-igual{
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    background-color: #000000;
}

#resultados{
    display: flex;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.footer{
    display: flex;
    background-color: #160052;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}